/* You can add global styles to this file, and also import other style files */
body{
  background-color: #41129eff;
  font-family: 'Raleway', sans-serif;
}

.titulo{

  color:white;
  text-align: center;
  margin-top: 25px;
}

.row{
  margin-top: 20px;
}


